/* AXES */
/* ticks */
.axis line{
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
    }
    
    /* axis contour */
    .axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
    }
    
    /* axis text */
    .axis text {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 120%;
    }